<a href="https://colab.research.google.com/github/PeaceOfGod/Hamoye-Practice-Exercises/blob/master/Lesson_3_(Pandas_So_much_more_than_a_cute_animal)_Practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**PANDAS**

##importing pandas as pd

In [2]:
import pandas as pd
days = pd.Series(['Monday', 'Tuesday', 'Wednesday'])
print (days)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

# Creating Series with a numpy array

In [3]:
import numpy as np
days_list = np.array(['Monday', 'Tuesday', 'Wednesday'])
numpy_list = pd.Series(days_list)
print (numpy_list)

0       Monday
1      Tuesday
2    Wednesday
dtype: object

# Creating series from a dictionary

In [4]:
days1 = pd.Series({'a' : 'Monday', 'b' : 'Tuesday', 'c' : 'Wednesday'})
print (days1)

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [5]:
print (days1['b'])

Tuesday

In [6]:
print (days1[0])

Monday

In [7]:
days1[0:]

a       Monday
b      Tuesday
c    Wednesday
dtype: object

In [8]:
days1[-1]

'Wednesday'

##Dataframe

In [9]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [10]:
df_dict = {'country': ['Ghana', 'Kenya', 'Nigeria', 'Togo'],
           'capital': ['Accra', 'Nairobi', 'Abuja', 'Lome'],
           'Population': [10000, 8500, 35000, 12000],
           'Age': [60, 70, 80, 75]
           }

In [11]:
df = pd.DataFrame(df_dict, index=[2, 4, 6, 8])

In [12]:
df_list = [['Ghana', 'Accra', 10000, 60],
           ['Kenya', 'Nairobi', 8500, 70],
           ['NIgeria', 'Abuja', 35000, 80],
           ['Togo', 'Lome', 12000, 75]]

In [13]:
print (df)

   country  capital  Population  Age
2    Ghana    Accra       10000   60
4    Kenya  Nairobi        8500   70
6  Nigeria    Abuja       35000   80
8     Togo     Lome       12000   75

In [19]:
peace_list = {'Firstname':['Peace', 'Daniel', 'Adebimpe', 'Moyosore', 'Paul'],
              'Lastname':['Bakare', 'Emmanuel', 'Adio', 'Abiona', 'Afolabi'],
              'Institution':['Unilag', 'IBBUL', 'LAUTECH', 'UI', 'EKSU'],
              'Skin Color': ['Dark', 'Fair', 'Light skinned', 'Darker', 'Darkest']
              }

peace = pd.DataFrame(peace_list, index = [1, 2, 3, 4, 5])
#print (peace)

In [15]:
peace.iloc[3]

Firstname      Moyosore
Lastname         Abiona
Institution          UI
Skin Color       Darker
Name: 4, dtype: object

In [16]:
peace.iloc[4]

Firstname         Paul
Lastname       Afolabi
Institution       EKSU
Skin Color     Darkest
Name: 5, dtype: object

In [18]:
peace.loc[4]

Firstname      Moyosore
Lastname         Abiona
Institution          UI
Skin Color       Darker
Name: 4, dtype: object

In [21]:
peace['Institution']

1     Unilag
2      IBBUL
3    LAUTECH
4         UI
5       EKSU
Name: Institution, dtype: object

In [23]:
peace.at[1, 'Firstname']

'Peace'

In [25]:
peace.iat[3, 2]

'UI'

In [26]:
peace.iat[3, 2] = "Unilag"

In [27]:
peace.iat[3, 2]

'Unilag'

In [28]:
print (peace)

  Firstname  Lastname Institution     Skin Color
1     Peace    Bakare      Unilag           Dark
2    Daniel  Emmanuel       IBBUL           Fair
3  Adebimpe      Adio     LAUTECH  Light skinned
4  Moyosore    Abiona      Unilag         Darker
5      Paul   Afolabi        EKSU        Darkest

In [29]:
peace.iat[3, 2] = "UI"

In [30]:
print (peace)

  Firstname  Lastname Institution     Skin Color
1     Peace    Bakare      Unilag           Dark
2    Daniel  Emmanuel       IBBUL           Fair
3  Adebimpe      Adio     LAUTECH  Light skinned
4  Moyosore    Abiona          UI         Darker
5      Paul   Afolabi        EKSU        Darkest

In [31]:
peace.mean()

Series([], dtype: float64)

In [32]:
peace.mode()

  Firstname  Lastname Institution     Skin Color
0  Adebimpe    Abiona        EKSU           Dark
1    Daniel      Adio       IBBUL         Darker
2  Moyosore   Afolabi     LAUTECH        Darkest
3      Paul    Bakare          UI           Fair
4     Peace  Emmanuel      Unilag  Light skinned

In [33]:
df['Population'].sum()

65500

In [34]:
df.mean()

Population    16375.00
Age              71.25
dtype: float64

In [35]:
df.describe()

         Population        Age
count      4.000000   4.000000
mean   16375.000000  71.250000
std    12499.166639   8.539126
min     8500.000000  60.000000
25%     9625.000000  67.500000
50%    11000.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

## **The missing data enigma: Importance, types and handling missing data.**

Often data used for analysis in real life scenarios is incomplete as a result of omission, faulty devices and many other factors. **Pandas represent missing values as NA or NaN which can be filled, removed and detected with functions like fillna(), dropna(), isnull(), notnull(), replace().**

In [36]:
df_dict2 = {'Name': ['James', 'Yemen', 'Caro', np.nan],
            'Profession': ['Researcher', 'Artist', 'Doctor', 'Writer'],
            'Experience': [12, np.nan, 10, 8],
            'Height': [np.nan, 175, 180, 150]
            }

In [38]:
new_df = pd.DataFrame(df_dict2)
print (new_df)

    Name  Profession  Experience  Height
0  James  Researcher        12.0     NaN
1  Yemen      Artist         NaN   175.0
2   Caro      Doctor        10.0   180.0
3    NaN      Writer         8.0   150.0

In [40]:
new_df.isnull()

    Name  Profession  Experience  Height
0  False       False       False    True
1  False       False        True   False
2  False       False       False   False
3   True       False       False   False

In [41]:
new_df.dropna()

   Name Profession  Experience  Height
2  Caro     Doctor        10.0   180.0